body{
background:#111;
color:white;
text-align:center;
font-family:sans-serif;
}

#stage{
display:flex;
justify-content:center;
gap:60px;
margin-top:30px;
}

.char img{
height:260px;
transition:0.3s;
}

.talk{
transform:scale(1.1);
}

#chat{
width:90%;
max-width:700px;
height:300px;
background:#222;
margin:40px auto;
padding:10px;
overflow:auto;
}
